﻿@using Microsoft.AspNet.Identity
<html data-ng-app="DietPointsApp">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1"/>
    <title>CloudX Diet Points</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <link href="favicon.ico" rel="shortcut icon"/>
    @Styles.Render("~/Content/css")
    
</head>
<body>
<div id="page">
    <header class="container">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="true">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#/">CloudX DietPoints</a>
                </div>
                <div class="collapse navbar-collapse collapse in" id="navbar-collapse" aria-expanded="true">

                    @using (Html.BeginForm("LogOff", "Account", new {area = ""}, FormMethod.Post, new {id = "logoutForm"}))
                    {
                        @Html.AntiForgeryToken()
                    }
                    <ul class="nav navbar-nav navbar-right">

                        @if (Request.IsAuthenticated)
                        {
                            <li>
                                Hello @User.Identity.GetUserName()
                            </li>
                            <li>
                                <a href="#/dietPoints">Diet Points</a>
                            </li>
                            <li>
                                <a href="#/profile">Profile</a>
                            </li>
                            <li>
                                <a href="javascript:sessionStorage.removeItem('accessToken');$('#logoutForm').submit();">Log off</a>
                            </li>
                        }
                        else
                        {
                            <li>@Html.ActionLink("Register", "Register", "Account", new {area = ""}, new {id = "registerLink"})</li>
                            <li>@Html.ActionLink("Log in", "Login", "Account", new {area = ""}, new {id = "loginLink"})</li>
                        }
                    </ul>

                </div>
            </div>
        </nav>
    </header>
    <section class="container" id="body">
        @RenderBody()
    </section>
    <hr/>
    <footer class="container">
        Created by CloudX
    </footer>
</div>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@RenderSection("Scripts", false)
</body>
</html>