﻿<form role="form" name="entryForm" id="entry-form" novalidate>
    <div class="modal-header">
        <a href="" class="close" data-ng-click="close()">&times;</a>
        <h4 class="modal-title">
            {{(entry.Id > 0) && 'Edit Entry' || 'Add Entry' }}
        </h4>
    </div>
    <div class="modal-body">
        <div ng-hide="errors.length == 0" class="alert alert-danger">
            <strong>There were errors:</strong>
            <ul ng-repeat="error in errors">
                <li>{{error}}</li>
            </ul>
        </div>

        <div class="form-group">
            <angucomplete id="entryMeal"
                          placeholder="What did you eat?"
                          pause="400"
                          selectedobject="selectedMeal"
                          minlength="3"
                          url="/api/me/entries/find?text="
                          titlefield="meal"
                          descriptionfield="foodTypeName"
                          initialvalue="{{entry.meal}}"
                          inputclass="form-control form-control-small"/>
        </div>
        <div class="form-group">
            <select class="form-control" name="foodType" type="number" ng-model="entry.foodType"
                    ng-options="foodType.name for foodType in foodTypes track by foodType.id" >
                <option value="">What kind of food?</option>
             </select>
        </div>
        <div class="form-group" ng-if="entry.foodType.id == 1 || entry.foodType.id == 2">            
            <input class="form-control" placeholder="Percentage of fat" name="fatPercentage" type="number" ng-model="entry.fatPercentage" />
        </div>
        <div class="form-check" ng-if="entry.foodType.id == 5">
            <label class="form-check-label">
                <input type="checkbox" class="form-check-input" name="lowFat" ng-model="entry.lowFat" />
                Low in fat
            </label>
        </div>
        <div class="form-group">
            <input class="form-control" name="calories" type="number" placeholder="How many calories were in it?" ng-model="entry.calories" />
        </div>
      
        <div class="form-group">
            <uib-datepicker ng-model="entry.date" show-weeks="true" class="date-picker"></uib-datepicker>
            <uib-timepicker ng-model="entry.date" show-meridian="true" class="time-picker"></uib-timepicker>
        </div>
    </div>
    <div class="modal-footer clear">
        <button type="button" class="btn btn-default" data-ng-click="close()">Close</button>
        <button type="submit" class="btn btn-primary" data-ng-click="save()">Save changes</button>
    </div>

</form>