﻿<div class="modal-header">
    <a href="" class="close" data-ng-click="close()">&times;</a>
    <h4 class="modal-title">Diet Points</h4>
</div>
<div class="modal-body">
    <div class="row">
        <ul class="colorDetailList">
            <li ng-repeat="itemChart in chartData" class="colorDetailItem">
                <div class="miniBoxColor" style="background: {{itemChart.color}};"></div>
                <div>
                    {{itemChart.name}}
                </div>
            </li>
        </ul>
    </div>
    <div class="row">
        <div class="pieChart">
            <div class="chartCutout" div ng-repeat="itemChart in chartDataGraphic" style="transform: rotate({{itemChart.gradesStart}}deg)">
                <div class="chartSlice" style="background-color: {{itemChart.color}}; transform: rotate({{itemChart.gradesSize}}deg);"></div>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-default" data-ng-click="close()">Close</button>
</div>
