﻿form {
    margin: 0;
}

.hidable-options-container a.option {
    cursor: pointer;
    display: none;
    float: right;
    text-decoration: underline;
}

.hidable-options-container:hover a.option {
    display: inline;
}

#configure-expected-dietPoints-per-day {
    color: #ffffff;
    margin-right: -18px;
}

.alert-info a.option {
    margin-right: -18px;
}

.alert-info a {
    color: #ffffff;
    cursor: pointer;
}

#dietPoints-entries table tr .options {
    cursor: pointer;
    margin-bottom: 0;
    text-align: right;
}

.confirmation > .modal-dialog {
    width: 30% !important;
}

input#expected-daily-dietPoints {
    display: inline;
    margin: 0 10 0 10;
    width: 70px;
}

.expected-daily-dietPoints-configuration > .modal-dialog {
    width: 40%;
}

.modal-dialog {
    width: 55%;
}

.expected-daily-dietPoints-configuration .modal-body,
.confirmation .modal-body {
    text-align: center;
}

.clear {
    clear: both
}

#entry-form .date-picker,
.filter-when .date-picker {
    float: left;
    margin-right: 22px;
}

.filter-when .time-picker {
    float: left;
    margin-right: 22px;
}

.date-picker .btn-default {
    background-color: #fff;
    border-color: #fff;
    color: #b4bcc2;
}

    .date-picker .btn-default:hover {
        background-color: #dce4ec;
        border-color: #dce4ec;
        color: #fff;
    }

    .date-picker .btn-default.btn-info {
        background-color: #3498db;
        border-color: #3498db;
        color: #fff;
    }

        .date-picker .btn-default.btn-info .text-info {
            color: #fff;
        }

    .date-picker .btn-default.active {
        -webkit-box-shadow: none;
        border-color: #3498db;
        box-shadow: none;
    }

.time-picker td {
    padding-right: 5px;
}

.time-picker input, .time-picker button {
    width: 55px !important;
}

.validation-summary-valid {
    display: none;
}

.form-control {
    outline: 0;
    border-color: #ECECEC;
    border-style: solid;
    border-width: 1px;
    width: 95%;
    background-color: #ffffff;
    padding: 6px;
    border-radius: 2px;
    margin-bottom: 5px;
    font-size: 14px;
}

.angucomplete-holder {
    position: relative;
}

.angucomplete-dropdown {
    border-color: #ececec;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    width: 250px;
    padding: 6px;
    cursor: pointer;
    z-index: 9999;
    position: absolute;
    /*top: 32px;
    left: 0px;
    */
    margin-top: -6px;
    background-color: #ffffff;
}

.angucomplete-searching {
    color: #acacac;
    font-size: 14px;
}

.angucomplete-description {
    font-size: 14px;
}

.angucomplete-row {
    padding: 5px;
    color: #000000;
    margin-bottom: 4px;
}

    .angucomplete-selected-row, .angucomplete-row:hover {
        background-color: lightblue;
        color: #ffffff;
    }

.angucomplete-image-holder {
    padding-top: 2px;
    float: left;
    margin-right: 10px;
    margin-left: 5px;
}

.angucomplete-image {
    height: 34px;
    width: 34px;
    border-radius: 50%;
    border-color: #ececec;
    border-style: solid;
    border-width: 1px;
}

.angucomplete-image-default {
    background-position: center;
    background-size: contain;
    height: 34px;
    width: 34px;
}



* {
    box-sizing: border-box;
}

.pieChart {
    height: 200px;
    margin: 1rem auto;
    position: relative;
    width: 200px;
}

.chartCutout {
    border-radius: 50%;
    clip: rect(0px, 200px, 200px, 100px);
    height: 100%;
    position: absolute;
    width: 100%;
}

.chartSlice {
    border-radius: 50%;
    clip: rect(0px, 100px, 200px, 0px);
    font-family: monospace;
    font-size: 1.5rem;
    height: 100%;
    position: absolute;
    width: 100%;
}

.colorDetailList {
    list-style-type: none;
}

    .colorDetailList .colorDetailItem {
        display: inline-flex;
        justify-content: center;
        align-items: center
    }

    .colorDetailList .colorDetailItemVertical {
        justify-content: center;
        align-items: center
    }

    .colorDetailList .mainItem {
        border-bottom: dashed;
        font-size: 18px;
    }
    
    .miniBoxColor {
        margin: 8px;
        width: 30px;
        height: 30px;
        border: 1px solid;
    }
